.index
  = render 'header'
  .main
    .box
      .text-box
        .text-box__title
          %p このアプリの使い方について
        .text-box__content
          %p
            建築業界での設計図面とは一昔前までは手描きで作成されていました。
            %br
            時代が進むにつれてjwやCADといった便利なパソコンソフトウェアが開発されました。
            %br
            手描きの時代に比べれば作業効率は格段に上がったと思いますが、
            %br
            未だに、人が一から図面を作成するという現実は変わっていません。
            %br
            その作業をどうにか短縮できないかと思い、
            %br
            各メーカー様の建具等の図面を共有していただき
            %br
            図面作成の際にお役立ちさせていただければと思います。
        .text-box__title
          %p 注意点
        .text-box__content
          %p 
            本アプリでは様々なメーカー様の製品をお取り扱いさせていただくことがあります。
            %br
            建築業界のために、とのことで制作させていただきましたが
            %br
            重要な情報をお取り扱いさせていただいているため利用していただく際には
            %br
            会員登録していただいております。
            %br
            ご理解とご協力をお願いいたします。
            %br
            また、本アプリの意向に反する情報の使い方をされますと
            %br
            メーカー様にも多大なるご迷惑がかかりますので
            %br
            良識のある範囲での利用をお願い申し上げます。